:root {
    --raio-borda: 2px;
    --sombra: 0px 0px 20px 2px black;
  }
  


#canvas_space{
    width: 40%;
    height: 60%;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    border-radius: var(--raio-borda);
    justify-self: center;
    margin-top: 25px;
    box-shadow: var(--sombra);
    
}

#canvas_space:hover{
    width: calc(+2)
}

#canvas_space2{
    width: 40%;
    max-height: 40%;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    border-radius: var(--raio-borda);
    justify-self: center;
    margin-top: 25px;
    box-shadow: var(--sombra);
}

#canvas_space3{
    width: 40%;
    height: 40%;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    border-radius: var(--raio-borda);
    justify-self: center;
    margin-top: 25px;
    box-shadow: var(--sombra);
}

#canvas_space4{
    width: 40%;
    height: 45%;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    border-radius: var(--raio-borda);
    justify-self: center;
    margin-top: 25px;
    box-shadow: var(--sombra);
}

canvas{
    justify-self: center
}

.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.charts2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


body{
    background-color: rgb(221, 221, 221);
}